In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
### Check for missing data
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [6]:
### Player Count
count = purchase_data_df['SN'].value_counts()
count

Lisosia93       5
Idastidru52     4
Iral74          4
Aelin32         3
Iri67           3
               ..
Tyirinu79       1
Iadueria43      1
Iskossasda43    1
Aidai73         1
Eusur90         1
Name: SN, Length: 576, dtype: int64

In [7]:
### Purchasing Analysis (Number of Unique Items)
count = purchase_data_df["Item Name"].value_counts()
count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
                                                ..
Riddle, Tribute of Ended Dreams                  1
Undead Crusader                                  1
Gladiator's Glaive                               1
Ghost Reaver, Longsword of Magic                 1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64