In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
### Check for missing data
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [19]:
### Player Count
pcount = purchase_data_df['SN'].value_counts()
len(pcount)

576

In [14]:
### Player Count convert into dataframe
pcount2_df = pd.DataFrame(pcount)
pcount2_df

               SN
Lisosia93       5
Iral74          4
Idastidru52     4
Tyidaim51       3
Lisim78         3
...            ..
Alim85          1
Aerithnucal56   1
Syathe73        1
Aiduesu86       1
Alo38           1

[576 rows x 1 columns]

In [4]:
### Purchasing Analysis (Number of Unique Items)
count = purchase_data_df["Item Name"].value_counts()
len(count)

179

In [5]:
### Average Purchase Price

average = purchase_data_df["Price"].mean()
average.round(decimals=2)

3.05

In [6]:
### Total Number of Purchases
total_purchases = purchase_data_df["Purchase ID"].count()
total_purchases

780

In [7]:
### Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [20]:
### Table of items above viewed together
purchasing_analysis = pd.DataFrame({'Player Count':[len(pcount)],
    "Number of Unique Items":[len(count)],
                                    "Average Purchase Price":[average.round(decimals=2)],
                                    "Total Number of Purchases":[total_purchases],
                                    "Total Revenue":[total_revenue]})
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis

,Player Count,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [39]:
### Gender Demographics
count_gender = purchase_data_df["Gender"].value_counts()
c_count_gender = purchase_data_df["Gender"].value_counts()
c_count_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [40]:
count_gender.div(780)*100
percentage = count_gender.div(780)*100
percentage

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [41]:
### Add gender demographics to a dataframe
count_gender_df = pd.DataFrame(c_count_gender, percentage)
count_gender_df.head()

           Gender
Gender
83.589744     NaN
14.487179     NaN
1.923077      NaN

In [ ]:
### Group Percentages of each gender

In [ ]:
# Finally, export this file to a spread so we can keep track of out new future watch list without the index
# unknown_movies_df.to_excel("output/movieWatchlist.xlsx", index=False)