In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
### Check for missing data
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
### Player Count
count = purchase_data_df['SN'].value_counts()
count

Lisosia93       5
Iral74          4
Idastidru52     4
Inguron55       3
Strithenu87     3
               ..
Undjask33       1
Yarithrin84     1
Haerithp41      1
Aerillorin70    1
Eulasuir89      1
Name: SN, Length: 576, dtype: int64

In [15]:
### Purchasing Analysis (Number of Unique Items)
count = purchase_data_df["Item Name"].value_counts()
len(count)

179

In [5]:
### Average Purchase Price

average = purchase_data_df["Price"].mean()
average.round(decimals=2)

3.05

In [6]:
### Total Number of Purchases
total_purchases = purchase_data_df["Purchase ID"].sum()
total_purchases

303810

In [7]:
### Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [16]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[len(count)],
                                    "Average Purchase Price":[average.round(decimals=2)],
                                    "Total Number of Purchases":[total_purchases],
                                    "Total Revenue":[total_revenue]})
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,303810,2379.77

In [8]:
count_gender = purchase_data_df["Gender"].value_counts()
count_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [17]:
percentage = purchase_data_df[len(count_gender)]/780
percentage

KeyError: 3